manifest {
	author = "AC"
	mainScript = "main.nf"
	defaultBranch = "main"
	name = "PyDESeq"
	description = "Running pydeseq on dnase data"
	version = "0.1"
	nextflowVersion = "22.10.6"
}

// Run with a stricter shell, so errors are caught earlier
process.shell = ['/bin/bash', '-ueo','pipefail' ]


params {
	includeConfig './params.config'
}

profiles {
	
	//Pan-environment configuration; modify to computing enviroment specifications
	Altius {
		conda.enabled = true
		nextflow.enable.dsl=2
		process {
			executor = "slurm"
			queue = "hpcz-2,pool"
			memory = { 300.GB + 30.GB * task.attempt }
			cache = "lenient"
			errorStrategy = { (task.exitStatus == 137 || task.exitStatus == 143) ? 'retry' : 'terminate' }
			maxRetries = 3
			//beforeScript = 'module load apptainer'
			clusterOptions = "--tmp=50G"
			withLabel: bigmem {
				queue = "bigmem"
				memory = { 500.GB + 100.GB * task.attempt }
				maxForks = 600
				cpus = 2
			}
		}
		//singularity {
		//	enabled = true
		//	autoMounts = true
		//}
		
		executor {
			$slurm {
				queueSize = 600
			}
		}

		// Logging
		//trace.enabled = true
		//trace.file = "pipeline_trace.txt"
		//timeline.enabled = true
		//timeline.file = "pipeline_timeline.html"
		//report.enabled = true
		//report.file = "pipeline_report.html"
		}
}
