
index_dir = '/net/seq/data2/projects/sabramov/SuperIndex/dnase-index0415/matrices/downsampled/output/'
meta_file = '/net/seq/data2/projects/sabramov/SuperIndex/dnase-index0415/matrices/downsampled/final_samples.downsampled_meta.tsv'
meta_column = 'core_annotation'

contrast_file = '/net/seq/data2/projects/acote/projects/encode4/4078_index/deseq/rdeseq_output/core_annotation_morethan30samples.tsv'

output_dir = '/net/seq/data2/projects/acote/projects/encode4/4078_index/deseq/rdeseq_output/'

n_cpus = 40

