
index_dir = '/net/seq/data2/projects/sabramov/SuperIndex/clean_index_clustering/dnase_3501/stratified_sampling.downsampled.0326/only1_downsampled/all_samples/output/'
meta_file = '/home/jvierstra/proj/ENCODE4/meta+sample_ids+cluster_id.xlsx'
meta_column = 'stripped_cluster'

output_dir = '/net/seq/data2/projects/acote/projects/encode4/4025_index/deseq/nf-deseq_routput/'

n_cpus = 30

